/* Drawed font for X and O*/
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
    font-family: 'Gochi Hand', cursive;
    display: flex; 
    justify-content: center;       
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .selected-move {
    font-weight: bold;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-family: 'Gochi Hand', cursive; 
    font-size: 75px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game-info {
     display: flex;
     flex-direction: column;
     text-align: center;
  }  

  .step-buttons {
    position: relative;
    line-height: 30px;
    top: 20px;
  }

  .status-text {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    font-size: 40px;    
  }

  .currentButton {   
    color: white;
    background-color: darkcyan;
  }